body {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.headerstyle{
   
    font-size:3rem;
    padding:0 1em;
    
}


.myalign {
    display : flex;
    justify-content : center;
    align-items: center;
    height:100vh;
    

}

.sun {
    background-color:yellow;
}

.winter {
    background-color:rgba(39, 39, 102, 0.055);
}